{% extends 'base.html' %}
{% load static %}
{% block head %}
{{ block.super }}
<style>
    body {
        font-family: 'Raleway', sans-serif;
        background-color: #f8f8f8;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    form {
        max-width: 500px;
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #2c3e50;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 5px;
    }

    input[type="text"],
    textarea,
    select,
    input[type="date"] {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 18px; /* Increased font size */
    }

    textarea {
        height: 150px;
    }

    input[type="submit"] {
        background-color: #2ecc71;
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
        margin-top: 20px;
        display: block;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #27ae60;
    }
</style>
{% endblock %}

{% block content %}
<form name="edit-project-form" action="/edit_project/{{project.id}}/" method="post">
    {% csrf_token %}
    <h1>Edit Project</h1>
    <div class="form-group">
        <label for="projectName">Project Name*</label>
        <input class="form-control"  value= {{project.name}} type="text" id="projectName" name="projectName" placeholder="Enter project name">
    </div>

    <div class="form-group">
        <label for="projectCode">Project Code*</label>
        <input class="form-control" value= {{project.code}} type="text" id="projectCode" name="projectCode" placeholder="Enter project code">
    </div>

    <div class="form-group">
    <label for="projectScope">Project Scope*</label>
    <textarea class="form-control" rows="7" id="projectScope" name="projectScope" placeholder="Enter project scope">{{ project.scope|safe }}</textarea>
    </div>


    <div class="form-group">
        <label for="projectDescription">Project Description*</label>
        <textarea class="form-control" rows="7" id="projectDescription" name="projectDescription" placeholder="Enter project description">{{project.description|safe}}</textarea>
    </div>
<div class="form-group">
    <label for="projectStatus">Project Status*</label>
    <select id="projectStatus" class="form-control" name="projectStatus">
        <option value="In Progress" {% if project.status == 'In Progress' %} selected {% endif %}>In Progress</option>
        <option value="Completed" {% if project.status == 'Completed' %} selected {% endif %}>Completed</option>
    </select>
</div>


<!--    <div class="form-group">-->
<!--        <label for="createdDate">Created Date</label>-->
<!--        <input  type="date" id="createdDate" name="createdDate">-->
<!--    </div>-->

    <button class="btn btn-primary" type="submit">Save</button>
</form>

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>

</script>
{% endblock %}
