{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
{% load custom_filters %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product Listing</h1>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Product Code</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects_data %}
                            <tr>
                                <td>{{ project.code }}</td>
                                <td>{{ project.name }}</td>
                                <td>
                                    {{ project.description|safe|slice_with_words:150|safe }}
                                    {% if project.description|length > 150 %}
                                    <a href="#" data-toggle="modal" data-target="#seeMoreModal{{ project.id }}">See
                                        more</a>

                                    <!-- Modal Trigger -->
                                    <div class="modal fade" id="seeMoreModal{{ project.id }}" tabindex="-1"
                                         role="dialog" aria-labelledby="seeMoreModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="seeMoreModalLabel">Project
                                                        Description</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ project.description|safe }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>


                                <td>{{ project.status }}</td>
                                <td>
                                    <i class="fas fa-edit" style="color: rgb(87, 151, 87);"></i>
                                    <a href="{% url 'bibliographic_charts' chart_id=project.id %}">
                                        <i class="fa fa-eye" aria-hidden="true" style="color: rgb(27, 124, 180);"></i>
                                    </a>
                                    <i class="fa fa-trash" aria-hidden="true" style="color: rgb(219, 77, 77);"></i>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Product Code</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Modal -->
<div class="modal fade" id="seeMoreModal{{ project.id }}" tabindex="-1" role="dialog"
     aria-labelledby="seeMoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="seeMoreModalLabel">Project Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ project.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- /.content -->
{% endblock %}
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>



