# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migration files
*/migrations/*.py
*/migrations/*.pyc
db.sqlite3

*/migrations/
# Local development settings
local_settings.py

# Database
../db.sqlite3

# Static files

uploaded_files/
company_logo/
# Media files
media/
#nginx/
# Virtual environment
venv/
.venv/
env/
.env

# IDE files
.idea/
.vscode/

# Others
*.log
*.swp
log.txt
*.pyc
__pycache__/
*.pyo
*.pyc
__pycache__/
*.pyo
*.pyc
*.pyc
*.db
*.sqlite3
*.log
*/log/*.txt
