{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="chartType">
                            <i class="fas fa-chart-pie"></i>
                        </label>
                    </div>
                    <select class="form-control" id="chartType" onchange="changeChartType()">
                        <option value="area">Area Chart</option>
                        <option value="line">Line Chart</option>
                        <option value="donut">Donut Chart</option>
                        <option value="pie">Pie Chart</option>
                        <option value="bar">Bar Chart</option>
                        <option value="stackedBar">Stacked Bar Chart</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 text-lg-right">
                <form method="post" action="/bibliographic_charts/25/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="btn btn-primary btn-round m-2">
                        <i class="fas fa-file-upload"></i>
                        Upload File
                        <input type="file" accept=".xlsx,.xls" style="display: none;" name="patient_data">
                    </label>
                    <button type="submit" class="btn btn-dark btn-round ml-2">
                        <i class="fas fa-chart-line"></i>Go
                    </button>
                </form>
            </div>
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- AREA CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Publication Trend</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">

                                        <canvas id="areaChart"
                                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- DONUT CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Top Citing</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="donutChart"
                                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                            <!-- /.card -->
                            <!-- PIE CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Legal Status Analysis</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="pieChart"
                                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col (LEFT) -->
                        <div class="col-md-6">
                            <!-- LINE CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Top Cited</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i
                                                    class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="donut_cited_Chart"
                                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                </div>
                            </div>
                            <!-- /.card -->
                            <!-- BAR CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Top Assignee</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i
                                                    class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="barChart"
                                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->

                            <!-- STACKED BAR CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Recent Active Assignee</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="stackedBarChart"
                                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- LINE CHART -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Top Innovative Jurisdiction</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i
                                                    class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                                class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart">
                                        <canvas id="lineChart"
                                                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col (RIGHT) -->
                    </div>
                    <!-- /.row -->

                    <h5>Expected Expiry Date</h5>
                    <canvas id="myChart" style="width:100%;max-width:100%;height:15%;"></canvas>

                    <h5>TOP IPC</h5>
                    <canvas id="horizontal-stacker-bar-chart"
                            style="width:100%;max-width:100%;height:15%;"></canvas>

                    <h5>TOP CPC</h5>
                    <canvas id="horizontal-stacker-bar-chart_cpc"
                            style="width:100%;max-width:100%;height:15%;"></canvas>
                </div>
            </section>
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
{% block scripts %}
{{ block.super }}
<script>
var user_id = {{user_instance.id}};
var yearWiseExpDate = {{ year_wise_exp_date | safe }};
var year_wise_count = {{ year_wise_count | safe }};
var topCitedPatentsDict_cited = {{ top_cited_patents | safe }};
var topCitingPatentsDict = {{ top_citing_patents | safe }};
var legalStatusCounts = {{ legal_status_counts | safe }};
var topAssigneesData = {{ top_assignees | safe }};
var topAssigneesDataStacked = {{ top_assignees_last_five_years | safe }};
var country_code_counts = {{get_country_code_counts_from_db | safe}};
var get_cpc_counts_from_db = {{get_cpc_counts_from_db | safe}};
var get_ipc_counts = {{get_ipc_counts | safe}};
</script>
<script src="/static/custom_js/custom.js"></script>
{% endblock %}