{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block content %}
<div class="tab-container">
    <a href="{% url 'competitor_charts' project_id %}" class="tab-link active">
        <span class="tab-icon">&#8592;</span>
        Competitor Charts
    </a>
    <a href="{% url 'bibliographic_charts' project_id %}" class="tab-link active">
        <span class="tab-icon">&#8592;</span>
        Bibliographic Charts
    </a>
</div>
<h2>Technical Focus Chart - <b>({{proj_name}})</b></h2>
<!--NESTED DONUT-->
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-title"><b>Spatial Omics Segmentation</b></h5>
            <div class="card-body">

                <div class="row">
                    <!-- Chart Section (60%) -->
                    <div class="col-md-12">
                        <div id="chartdiv" style="height: 400px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <!-- Table Section (40%) -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div style="max-height: 300px; overflow-y: auto;">
                            <table class="table table-sm table-bordered">
                                <thead style="background-color: #808080">
                                <tr>
                                    <th class="text-center small">CPC</th>
                                    <th class="text-center small">Count</th>
                                    <th class="text-center small">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center small">data</td>
                                    <td class="text-center small">data</td>
                                    <td class="text-center small">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-secondary btn-xs mx-1"
                                                    onclick="indCpcDataView('{{key}}','{{project_id}}')">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-primary btn-xs mx-1"
                                                    onclick="downloadIndCpc('')"><i
                                                    class="fas fa-file-download" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-secondary btn-xs"
                                    onclick="openCpcDataView('')">View
                            </button>
                            <button class="btn btn-primary btn-xs"
                                    onclick="downloadTopCPC('')">
                                Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--NESTED DONUT table end-->
<!--3D PIE CHART-->

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-title"><b>Other Spatial Omics Column Segmentation</b></h5>
            <div class="card-body">

                <div class="row">
                    <!-- Chart Section (60%) -->
                    <div class="col-md-12">
                        <div id="chartQdiv" style="height: 400px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--3D PIE CHART Table-->
        <div class="row mt-4">
            <!-- Table Section (40%) -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div style="max-height: 300px; overflow-y: auto;">
                            <table class="table table-sm table-bordered">
                                <thead style="background-color: #808080">
                                <tr>
                                    <th class="text-center small">CPC</th>
                                    <th class="text-center small">Count</th>
                                    <th class="text-center small">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center small">data</td>
                                    <td class="text-center small">data</td>
                                    <td class="text-center small">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-secondary btn-xs mx-1"
                                                    onclick="indCpcDataView('{{key}}','{{project_id}}')">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                            <button class="btn btn-primary btn-xs mx-1"
                                                    onclick="downloadIndCpc('')"><i
                                                    class="fas fa-file-download" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-secondary btn-xs"
                                    onclick="openCpcDataView('')">View
                            </button>
                            <button class="btn btn-primary btn-xs"
                                    onclick="downloadTopCPC('')">
                                Download
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--3D PIE CHART Table end-->

{% endblock %}
{% block scripts %}
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script>
    am4core.ready(function() {

    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end

    // Create chart instance
    var chart = am4core.create("chartdiv", am4charts.PieChart);

    // Let's cut a hole in our Pie chart the size of 40% the radius
    chart.innerRadius = am4core.percent(40);

    // Add data
    chart.data = [{
      "Metabolomics": "Lithuania",
      "litres": 501.9,
      "bottles": 1500
    }, {
      "country": "Czech Republic",
      "litres": 301.9,
      "bottles": 990
    }, {
      "country": "Ireland",
      "litres": 201.1,
      "bottles": 785
    }, {
      "country": "Germany",
      "litres": 165.8,
      "bottles": 255
    }, {
      "country": "Australia",
      "litres": 139.9,
      "bottles": 452
    }, {
      "country": "Austria",
      "litres": 128.3,
      "bottles": 332
    }, {
      "country": "UK",
      "litres": 99,
      "bottles": 150
    }, {
      "country": "Belgium",
      "litres": 60,
      "bottles": 178
    }, {
      "country": "The Netherlands",
      "litres": 50,
      "bottles": 50
    }];

    // Add and configure Series
    var pieSeries = chart.series.push(new am4charts.PieSeries());
    pieSeries.dataFields.value = "litres";
    pieSeries.dataFields.category = "country";
    pieSeries.slices.template.stroke = am4core.color("#fff");
    pieSeries.slices.template.strokeWidth = 2;
    pieSeries.slices.template.strokeOpacity = 1;

    // Define blue color shades
    pieSeries.colors.list = [
        am4core.color("#b2cf5a"),
        am4core.color("#8dc03c"),
        am4core.color("#94d966"),
        am4core.color("#a2d28a"),
        am4core.color("#6d9d2d")
    ];

    // Disabling labels and ticks on inner circle
    pieSeries.labels.template.disabled = true;
    pieSeries.ticks.template.disabled = true;

    // Disable sliding out of slices
    pieSeries.slices.template.states.getKey("hover").properties.shiftRadius = 0;
    pieSeries.slices.template.states.getKey("hover").properties.scale = 0.9;

    // Add second series
    var pieSeries2 = chart.series.push(new am4charts.PieSeries());
    pieSeries2.dataFields.value = "bottles";
    pieSeries2.dataFields.category = "country";
    pieSeries2.slices.template.stroke = am4core.color("#fff");
    pieSeries2.slices.template.strokeWidth = 2;
    pieSeries2.slices.template.strokeOpacity = 1;

    // Define green color shades
    pieSeries2.colors.list = [
        am4core.color("#4e79a7"),
        am4core.color("#81b1d2"),
        am4core.color("#a5c9e6"),
        am4core.color("#8fb5d1"),
        am4core.color("#6f9ec0")
    ];

    pieSeries2.slices.template.states.getKey("hover").properties.shiftRadius = 0;
    pieSeries2.slices.template.states.getKey("hover").properties.scale = 1.1;

}); // end am4core.ready()





    <!-- Chart code -->
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartQdiv", am4charts.PieChart3D);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

chart.data = [
  {
    country: "Lithuania",
    litres: 501.9
  },
  {
    country: "Czech Republic",
    litres: 301.9
  },
  {
    country: "Ireland",
    litres: 201.1
  },
  {
    country: "Germany",
    litres: 165.8
  },
  {
    country: "Australia",
    litres: 139.9
  },
  {
    country: "Austria",
    litres: 128.3
  }
];

chart.innerRadius = am4core.percent(40);
chart.depth = 120;

chart.legend = new am4charts.Legend();

var series = chart.series.push(new am4charts.PieSeries3D());
series.dataFields.value = "litres";
series.dataFields.depthValue = "litres";
series.dataFields.category = "country";
series.slices.template.cornerRadius = 5;
series.colors.step = 3;

}); // end am4core.ready()
</script>
{% endblock %}