{% extends 'base.html' %}
{% load static %}
{% block head %}
{{ block.super }}
<style>
    body {
        font-family: 'Raleway', sans-serif;
        background-color: #f8f8f8;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    form {
        max-width: 500px;
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #2c3e50;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        color: #2c3e50;
        margin-bottom: 5px;
    }

    input[type="text"],
    textarea,
    select,
    input[type="date"] {
        width: 100%;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 18px; /* Increased font size */
    }

    textarea {
        height: 150px;
    }

    input[type="submit"] {
        background-color: #2ecc71;
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s ease;
        margin-top: 20px;
        display: block;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #27ae60;
    }
</style>
{% endblock %}

{% block content %}
<form id="add-user-form">
    {% csrf_token %}
    <h1>Add User</h1>

    <div class="form-group">
        <label for="userName">User Name</label>
        <input class="form-control" type="text" id="userName" name="userName" placeholder="Enter user name" required>
    </div>

    <div class="form-group">
        <label for="userEmail">User Email</label>
        <input class="form-control" type="email" id="userEmail" name="userEmail" placeholder="Enter user email"
               required>
    </div>

    <div class="form-group">
        <label for="userPassword">User Password</label>
        <input class="form-control" type="password" id="userPassword" name="userPassword"
               placeholder="Enter user Password" required>
    </div>

    <div class="form-group">
        <label for="userRoles">User Roles</label>
        <select id="userRoles" class="form-control" name="userRoles" required>
            <option value="client">Client</option>
            <option value="project_manager">Project Manager</option>
            <option value="key_account_holder">Key Account Manager</option>
        </select>
    </div>

    <div class="form-group">
        <label for="businessUnit">Business Unit</label>
        <select id="businessUnit" class="form-control" name="businessUnit" required>
            <option value="HI_IP">HT-IP</option>
            <option value="HC_IP">HC-IP</option>
            <option value="HC_BI">HC-BI</option>
            <option value="CFH">CFH</option>
            <option value="BD">BD</option>
            <option value="SPMT">SPMT</option>
        </select>
    </div>
    <input type="submit" value="Submit">
</form>

{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function () {
        $('#add-user-form').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '{% url 'add_user' %}', // Update the URL with your actual endpoint
                data: formData,
                success: function (response) {
                     window.location.href = "{% url 'user_listing' %}";
                },
                error: function (xhr, errmsg, err) {
                    // Handle error response
                }
            });
        });
    });
</script>
{% endblock %}
